body {
    background-color: rgb(22, 22, 22);
    background-color: #161616;
    background-image:
        radial-gradient(
            circle at 67% 10%,
            rgba(230,170,90,.18),
            transparent 30%
        );

    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

p, a {
    color: aliceblue;
    font-family:monospace;
    font-size: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

}
.nav-image {
    width: 35px;
    gap: 10px;
    background-color: rgb(22, 22, 22);
    padding: 4px;
    border-radius: 50px;
    transition: width 0.2s ease;
}

.nav-container {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 15px;
}

#my-logo-image {
    width: 60px;
    border-radius: 50px;
    padding: 4px;
    margin-left: 20px;
    background-color: rgb(22, 22, 22);

}

#contact {
    background-color: rgb(165, 145, 93);
    padding: 10px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
    color: black;
    font-size: 17px;
    text-decoration: none;
}




