@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Bold.otf") format("opentype");
    font-weight: 900;
}


body {
    background-color: rgb(22, 22, 22);
    background-color: #161616;
    background-image:
        radial-gradient(
            circle at 67% 10%,
            rgba(230,170,90,.18),
            transparent 30%
        );

    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

p, a {
    color: aliceblue;
    font-family: "Satoshi", sans-serif;
    font-size: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px 35px;
}

.nav-image {
    width: 40px;
    gap: 10px;
    background-color: rgb(22, 22, 22);
    padding: 4px;
    border-radius: 50px;
}

.nav-container {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 15px;
}

#my-logo-image {
    width: 60px;
    border-radius: 50px;
    padding: 4px;
    margin-left: 20px;
    background-color: rgb(22, 22, 22);

}

#contact {
    background-color: rgb(165, 145, 93);
    padding: 10px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.main-content {
    margin-top: 0;
    flex: 1;
    margin-left: 20px;
    padding: 0;
    margin-bottom: 0;
}

.main-content p,section {
    color: aliceblue;
}

#hello {
    border: 2px solid rgb(104, 100, 100);
    border-radius: 18px;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    background-color: rgb(43, 42, 42);
}

#hello p {
    font-size: 12px;
    font-family: "Satoshi", sans-serif;
    font-weight: 900;
    align-items: center;
}

#hand {
    width: 18px;
    height:18px;
    padding-right: 10px;
    padding-top: 13px;
}

.my-name {  
    display: flex;
    gap: 15px;
    font-family: "Satoshi", sans-serif;
    margin-bottom: 0;
}

#gold {
    color: rgb(189, 156, 67);
}

.my-name span {
    font-size:60px;
    line-height:1;
    display: flex;
    gap: 8px;
    margin-bottom: 0;
    margin-top: 0;
}


.about-me {
    display: flex;
    flex-wrap: nowrap;
    width:43%;
    font-size:13px;
    line-height:1.3;
    border-left: 2px solid rgb(189, 156, 67);
    padding-left: 10px;
    font-family: "Satoshi", sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
}

#h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Satoshi", sans-serif;
    width: fit-content;
}

#projects {
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(189, 156, 67);
    border-radius: 7px;
    display: inline-flex;
    align-items: center;
    font-family: "Satoshi", sans-serif;
}

#cv {
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 7px;
    background-color: #161616;
    color: aliceblue;
    display: inline-flex;
    align-items: center;
    font-family: "Satoshi", sans-serif;
}

.rocket-and-download {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 25px;
    padding-right: 10px;
}

.cards-container {
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgb(71, 71, 71);
    border-radius: 10px;
    box-shadow: 8px 12px 24px rgba(189, 156, 67, 0.2);
    width: 70%;
    max-width:680px;
    padding-bottom: 0;
}

.cards-sub-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.span-abilities {
    display: flex;
    font-family: "Satoshi", sans-serif;
    font-size: 15px;
    padding: 0;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.span-abilities span {
    color: rgb(189, 156, 67);
    padding: 3px;
}

.card {
    align-items: center;
    display: flex;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 15px;
    width: fit-content;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 4px;
    font-size: 13px;
    font-family: "Satoshi", sans-serif;
    background-color: rgb(34, 34, 34);
    flex: 1;
    justify-content: center;
}

.card-sign {
    width: 20px;
    height: 17px;
}

.card-image {
    width: 30px;
    padding-right: 8px;
}

.language-card{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex: 1;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 10px ;
    justify-content: flex-start;
}

.language-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.language-info h4{
    margin: 0;
    font-size: 16px;
}

.language-info p{
    margin: 0;
    padding-top: 3px;
    font-size: 13px;
}

.cards-sub-container .card:last-child .card-image{
    width: 50px;
    height: 30px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

footer {
    padding: 7px;
    display: flex;
    font-family: "Satoshi", sans-serif;
    border: 2px solid rgb(71, 71, 71);
    border-radius: 10px;
    width: 55%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 50px;
}

footer div {
    border-right: 2px solid rgb(71, 71, 71);
    padding-left: 15px;
    padding-right: 15px;
    flex: 1; 
}

footer div:last-child{
    border-right: none;
    padding-right: 0;
}

footer div .footer-titles {
    font-size: 15px;
    padding: 0;
    margin:0;
    color: rgb(189, 156, 67);
    width: fit-content;
    border-right: none;
}

footer div p {
    font-size: 13px;
    line-height: 1.0;
    margin-top: 4px;
    color: aliceblue;
}

footer .footer-card {
    align-items: center;

}

.footer-card {
    width: 20px;
    border: 1px solid rgb(189, 156, 67);
    border-radius: 10px;
    padding: 13px;
    margin-left: 10px;
}

.hero {
    margin: auto 0;
    padding-left: 30px;
    display:flex;
    justify-content:space-between;
}

.hero-image {
    flex:0 0 400px;
    display:flex;
    justify-content:flex-end;
    margin: 0;
    padding: 0;
}

.hero-image img{
    width: 315px;
    margin-right: 10px;
    border-radius:120px 30px 30px 30px;
    border:2px solid rgba(189,156,67,.35);
    box-shadow: 12px 12px 25px rgba(189, 156, 67, 0.18);
}

.about-sub-container {
    display: flex;
    flex-direction: column;
}

.about-sub-container button {
    margin: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
}

.about-container{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: fit-content;
}


@media (min-width: 1280px) {
    .nav-image {
        transition: width 0.2s ease;
        width: 40px;
    }

    #h3 {
        transition: font-size 0.2s ease;
        font-size: 20px;
    }

    .about-me {
        transition: font-size 0.2s ease;
        font-size: 13px
    }
}


@media (max-width: 1280px) and (min-width: 992px) {
    nav {
        padding: 10px;

    }

    body {
        margin-top: 5px;

    }

    #my-logo-image {
        width: 45px;
    }

    .nav-image {
        width: 25px;
    }

    .nav-image p {
        font-size: 11px;
    }

    #contact {
        padding: 10px;
        font-size: 14px;
    }

    #hello {
        width: fit-content;
        align-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    #hello p {
        font-size: 11px;
    }

    #hand {
        width: 15px;
        height: 15px;
        padding: 0;
        padding-right: 5px;
    }

    .my-name span, #gold{
        font-size: 45px;
    }

    #h3 {
        font-size: 15px;
        transition: font-size 0.2s ease;
    }

    .about-me {
        font-size: 12px;
    }

    #projects, #cv {
        width: fit-content;
        padding-left: 10px;
        padding-right: 10px;
    }

    button span {
        font-size: 13px;
    }

    .cards-container {
        margin-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        border: 2px solid rgb(71, 71, 71);
        border-radius: 10px;
        box-shadow: 8px 12px 24px rgba(189, 156, 67, 0.2);
        width: 65%;
        max-width:680px;
        padding-bottom: 0;
    }

    footer {
        padding: 7px;
        padding-bottom: 0;
        display: flex;
        font-family: "Satoshi", sans-serif;
        border: 2px solid rgb(71, 71, 71);
        border-radius: 10px;
        width: 55%;
        margin-top: 10px;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 5%;
    }

    .card {
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    font-size: 12px;
    }

    .language-info h4{
    margin: 0;
    margin-bottom: 3px;
    font-size: 14px;
    }

    .card-image {
    width: 25px;
    padding-right: 8px;
    }
    
    .footer-container {
        padding: 5px;
        width: 50%;
        margin-left: 5%;   
    }

    footer div .footer-titles {
    font-size: 14px;
    padding: 0;
    margin:0;
    color: rgb(189, 156, 67);
    width: fit-content;
    border-right: none;
    }

    footer div p {
        font-size: 12px;
        margin-top: 4px;
    }

    .hero-image {
        flex:0 0 350px;
    }

    .hero-image img{
        width: 280px;
        height: 380px;
        margin-right: 10px;
    }

    .footer-card {
        width: 18px;
    }

}

@media (max-width: 991px) and (min-width: 768px) {

    nav {
        padding: 3px;
    }

    #my-logo-image {
        width: 40px;
    }

    .nav-image {
        width: 25px;
    }

    nav p {
        font-size: 13px;
    }

    #contact {
        padding: 8px;
        font-size: 13px;
    }

    #hello {
        width: fit-content;
        align-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    #hello p {
        font-size: 10px;
    }

    #hand {
        width: 15px;
        height: 15px;
        padding: 0;
        padding-right: 5px;
    }

    .my-name span, #gold{
        font-size: 40px;
    }

    #h3 {
        font-size: 13px;
        transition: font-size 0.2s ease;
    }

    .about-me {
        width: 60%;
        font-size: 11px;
    }

    #projects, #cv {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .rocket-and-download {
        width: 18px;
        padding: 0;
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    button span {
        font-size: 12px;
        padding: 0;
    }

    .cards-container {
        margin-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        border: 2px solid rgb(71, 71, 71);
        border-radius: 10px;
        box-shadow: 8px 12px 24px rgba(189, 156, 67, 0.2);
        width: 105%;
        max-width:680px;
        padding-bottom: 0;
    }

    footer {
        padding: 7px;
        padding-bottom: 0;
        display: flex;
        font-family: "Satoshi", sans-serif;
        border: 2px solid rgb(71, 71, 71);
        border-radius: 10px;
        margin-top: 8px;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 5%;
    }

    .card {
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    font-size: 11px;
    }

    .card p {
        font-size: 11px;
    }

    .language-info h4{
    margin: 0;
    margin-bottom: 3px;
    font-size: 14px;
    }

    .card-image {
    width: 22px;
    padding-right: 8px;
    }
    
    .footer-container {
        padding: 5px;
        width: 60%;
        margin-left: 5%;   
    }

    footer div .footer-titles {
    font-size: 13px;
    padding: 0;
    margin:0;
    color: rgb(189, 156, 67);
    width: fit-content;
    border-right: none;
    }

    .footer-container p {
        margin: 0;
        font-size: 10px;
    }

    .hero-image {
        flex:0 0 350px;
    }

    .hero-image img{
        width: 270px;
        height: 370px;
        margin-right: 0px;
    }

    .footer-card {
        width: 15px;
    }


}